<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <%- include(header, {userID: userID}) %>
        <h1>Register</h1>
        <p id="errorText"><%= errorText %></p>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Username" value="<%= username %>" required/>
            <br>
            <input type="password" name="password" placeholder="Password" value="<%= password %>" required/>
            <br>
            <input type="email" name="email" placeholder="Email" value="<%= email %>" required/>
            <br>
            <input type="number" name="age" placeholder="Age" value="<%= age %>" required/>
            <br>
            <select id="question1" name="question1" required>
                <option value="">Select your favorite color</option>
                <option value="Red">Red</option>
                <option value="Blue">Blue</option>
                <option value="Green">Green</option>
                <option value="Other">Other</option>
            </select>
            <br>
            <select id="question2" name="question2" required>
                <option value="">Select your favorite animal</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Bird">Bird</option>
                <option value="Other">Other</option>
            </select>
            <br>
            <select id="question3" name="question3" required>
                <option value="">Select your region</option>
                <option value="North America">North America</option>
                <option value="Europe">Europe</option>
                <option value="Asia">Asia</option>
                <option value="Other">Other</option>
            </select>
            <br>
            <button type="submit">Register</button>
        </form>
        <footer>
            Copyright © 2024 OASIS
        </footer>
    </body>
</html>